<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         id="WebApp_ID" version="3.1">
  
  <display-name>EstoqueFaculdade</display-name>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/erro.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/erro.jsp</location>
  </error-page>
  <error-page>
  	<error-code>403</error-code>
  	<location>/erro.jsp</location>
  </error-page>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hawk.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hawk.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hawk.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProdutoServlet</servlet-name>
    <servlet-class>com.hawk.controller.ProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoServlet</servlet-name>
    <url-pattern>/produto</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.hawk.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.hawk.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>